* {
    box-sizing: border-box;
}

body {
    background-image: url(img/background_subtle_patterns_light.jpg);
    background-size: repeat;
    margin: 0;
}

.change_Image_Button {
    color: #fff;
    width: 50px;
}

.container {
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    width: 100vw;
}

.help {
    align-items: center;
    backdrop-filter: blur( 3px );
    background-color: rgba(180,180,180,0.5);
    border: 1px solid #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: center;
    height: 350px;
    width: 18%;
}

.help_Button {
    background-color: rgba(180,180,180,0.3);
    border: 1px solid #000;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #000;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0;
    padding: 0.8rem;
    text-align: center;
}

.help_Show_Image {
    border: 1px solid #000;
    height: 400px;
    position: absolute;
    width: 400px;
    z-index: 100;
}

.header {
    align-items: center;
    color: #fff;
    display: flex;
    height: 70px;
    justify-content: space-between;
    width: 400px;
}

.main {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.menu {
    align-items: center;
    color: #fff;
    display: flex;
    height: 80px;
    justify-content: space-around;
    width: 400px;
}

.menu-item {
    align-items: center;
}

.play-button {
    background-color: darkseagreen;
    border: 1px solid #000;
    border-radius: 30px;
    display: inline;
    font-size: 20px;
    padding: 10px 30px;
    z-index: 10;
}

.play-button:hover {
    transform: scale(1.3);
    transition: 300ms ease-in-out;
}

.retry-button {
    background-color: orange;
    border: 1px solid #000;
    border-radius: 30px;
    display: inline;
    font-size: 20px;
    padding: 5px 15px;
    z-index: 10;
}

.stop-button {
    background-color: red;
    border: 1px solid #000;
    border-radius: 30px;
    display: inline;
    font-size: 20px;
    padding: 5px 15px;
    z-index: 10;
}

.square {
    background-image: url(img/goku_SSB.jpg);
    background-size: 400px;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #fff;
    font-size: 32px;
    height: 100px;
    line-height: 100px;
    position: absolute;
    text-align: center;
    width: 100px;
    z-index: 10;
}

.taquin_display {
    border: 1px solid #000;
    height: 400px;
    position: relative;
    width: 400px;
}

.timer {
    align-items: flex-end;
    display: flex;
    font-size: 18px;
    height: 100%;
    justify-content: end;
    padding-bottom: 10px;
    padding-right: 10px;
    width: 100px;
}

.title {
    align-items: center;
    display: flex;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
    justify-content: center;
    text-align: center;
    width: 200px;
}

.turns{
    align-items: flex-end;
    display: flex;
    font-size: 18px;
    height: 100%;
    justify-content: left;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100px;
}

.wheel {
    animation: rotatingWheel linear 3s infinite;
    width: 30px;
}

.wheel_Container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    width: 100%;
}

#square1 {
    background-position-x: 0;
    background-position-y: 0;
    left: 0;
    top: 0;
}
#square2 {
    background-position-x: -100px;
    background-position-y: 0;
    left: 100px;
    top: 0;
}
#square3 {
    background-position-x: -200px;
    background-position-y: 0;
    left: 200px;
    top: 0;
}
#square4 {
    background-position-x: -300px;
    background-position-y: 0;
    left: 300px;
    top: 0;
}
#square5 {
    background-position-x: 0;
    background-position-y: -100px;
    left: 0;
    top: 100px;
}
#square6 {
    background-position-x: -100px;
    background-position-y: -100px;
    left: 100px;
    top: 100px;
}
#square7 {
    background-position-x: -200px;
    background-position-y: -100px;
    left: 200px;
    top: 100px;
}
#square8 {
    background-position-x: -300px;
    background-position-y: -100px;
    left: 300px;
    top: 100px;
}
#square9 {
    background-position-x: 0;
    background-position-y: -200px;
    left: 0;
    top: 200px;
}
#square10 {
    background-position-x: -100px;
    background-position-y: -200px;
    left: 100px;
    top: 200px;
}
#square11 {
    background-position-x: -200px;
    background-position-y: -200px;
    left: 200px;
    top: 200px;
}
#square12 {
    background-position-x: -300px;
    background-position-y: -200px;
    left: 300px;
    top: 200px;
}
#square13 {
    background-position-x: 0;
    background-position-y: -300px;
    left: 0;
    top: 300px;
}
#square14 {
    background-position-x: -100px;
    background-position-y: -300px;
    left: 100px;
    top: 300px;
}
#square15 {
    background-position-x: -200px;
    background-position-y: -300px;
    left: 200px;
    top: 300px;
}
#square16 {
    background-image: url(img/vegeta_Logo.jpeg);
    background-size: cover;
    left: 300px;
    top: 300px;
    z-index: 0;
}

@keyframes rotatingWheel {
    from {transform: rotateZ(0deg);}
    to {transform: rotateZ(360deg);}
}

@media (min-width: 1024px) {
    .help {
        width: 8%;
    }
}